.about-container, .acomp-container, .cert-container {
    margin-top: 10vh;
    padding: 5rem 5rem 15rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.425);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.acomp-text {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.4;
}

.about-container h1, .acomp-container h1, .cert-container h1 {
    font-size: 3rem;
    color: rgb(118, 158, 233);
}

.acomp-container h2, .cert-container h2 {
    color: blue;
    font-size: 3rem;
}

.about-container p, .acomp-container p, .cert-container p{
    font-size: 2rem;
}